@use "styles/variables.module";
@use "styles/utils";

.btn {
  padding: 11px 30px;
  border-radius: 16px;
  font-weight: 600;
  background-color: #000000;
  color: #fff;
  font-family: "Inter";
  white-space: nowrap;
  transition: all 0.5s ease 0s;
  &:hover {
    background-color: #f1f1f1;
    color: #141416;
  }
}

.secondary {
  background-color: #f9f9f9;
  color: #141416;
  border: 1px solid #141416;
  &:hover {
    background-color: #f1f1f1;
  }
}
