// colors
$header-color: #606060;
$accent-color: #0252cc;
$dark-color: #323e4a;
$grey-color: #939daa;
$grey-light-color: #fafbfc;
$error-color: #e23333;
$success-color: #10c352;
$background-white: #f9f9f9;
// $primary-color: #3b82ef;
// $primary-light-color: #d8e6fc;

// gradients
// $instagram-gradient: radial-gradient(
//   122.91% 144.6% at 1.81% 90.83%,
//   #fed576 0%,
//   #f47133 26.34%,
//   #bc3081 60.91%,
//   #4c63d2 100%
// );
// $facebook-gradient: linear-gradient(0deg, #0062e0 0%, #19afff 100%);

// transitions
$transition-ultrafast: 0.3s;
$transition-fast: 0.5s;
$transition-medium: 0.7s;

// shadows
$main-box-shadow: 0px 4px 15px 0px rgba(37, 74, 165, 0.1);

// shape
$border-radius-small: 6px;
$border-radius-medium: 12px;
$border-radius-large: 30px;

// :export {
//   // colors
//   primaryColor: $primary-color;
//   darkColor: $dark-color;
//   greyColor: $grey-color;
//   greyLightColor: $grey-light-color;
//   accentColor: $accent-color;
//   errorColor: $error-color;
//   successColor: $success-color;
//   primaryLightColor: $primary-light-color;
//   // gradients
//   instagramGradient: $instagram-gradient;
//   facebookGradient: $facebook-gradient;
// }
